In [1]:
# load data from : https://github.com/benedekrozemberczki/karateclub/tree/master/dataset/node_level/facebook

In [2]:
import pandas as pd
import numpy as np

In [4]:
features_df = pd.read_csv('features.csv')
print(features_df.shape)
features_df.head()

(314583, 3)

   node_id  feature_id  value
0    22431        3232    1.0
1    22431        3606    1.0
2    22431         236    1.0
3    22431        2623    1.0
4    22431        1043    1.0

In [5]:
edges = pd.read_csv('edges.csv')
print(edges.shape)
edges.head()

(171002, 2)

   id_1   id_2
0     0  18427
1     1  21708
2     1  22208
3     1  22171
4     1   6829

In [6]:
target = pd.read_csv('target.csv')
print(target.shape)
target.head()

(22470, 2)

   id  target
0   0       1
1   1       3
2   2       0
3   3       3
4   4       2

In [9]:
print(len(features_df.feature_id.unique()))
print(len(features_df.node_id.unique()))
len(features_df.feature_id.unique())*len(features_df.node_id.unique())

4714
22470

105923580